{% extends "base.html" %}
{% block title %}Payment Success{% endblock title %}
{% block content %}
<h1>Payment Successful for project: {{project.name}}, Email Address: {{email}}</h1>
    <div class="project-container">
        <div class="projects">
            <p>{{project.name}}</p>
            <p>Description: {{project.description}}</p>
            {% if amount %}
                <p>Amount Paid: KSH {{ amount }}</p>
            {% else %}
                <p>Amount Paid: KSH Not found</p>
            {% endif %}
        </div>  
    </div>
    <a href="{% url 'project-home' %}" >Back to Projects</a>
{% endblock content %}